<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.gitlab.build_revision | relative_url }}">
  </head>

  <body>
    <header>
      <nav aria-label="Main site navigation">
        <ul class="site-nav">
          {% assign sorted_pages = site.pages | sort : "order" %}
          {% for item in sorted_pages %}
            {% if item.title %}
              <li class="site-nav__item">
                <a href=".{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <a href="https://gitlab.com/jbborre/resume">View the source</a>
    </footer>
  </body>
</html>